<section id="galerie-statica">
    <h2>
        <a class="titlu-galerie-link" href="/galerie">Galerie Origami</a>
    </h2>

    <% if (imagini && imagini.length) { %>
        <div class="grid-galerie">
            <% for (let img of imagini) { %>
                <figure>
                    <picture>
                        <source srcset="<%= img.fisier_mic %>" media="(max-width:700px)">
                        <source srcset="<%= img.fisier_mediu %>" media="(max-width:1000px)">
                        <img
                            src="<%= img.fisier %>"
                            alt="<%= img.titlu %>"
                            title="<%= img.descriere %>"
                        >
                    </picture>

                    <figcaption>
                        <%= img.descriere %>
                    </figcaption>
                </figure>
            <% } %>
            
        </div>

    <% } else { %>
        <p>Momentan nu există imagini pentru acest sfert de oră.</p>
    <% } %>
    <a href="/" class="btn btn-outline-secondary btn-lg mb-3">
    ← Înapoi la pagina principală
</a>
</section>